In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.decomposition import PCA
from sklearn import svm
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn import neighbors
import matplotlib.pyplot as plt
from pandas.plotting import parallel_coordinates
from sklearn.preprocessing import StandardScaler
from sklearn import decomposition
import scipy
from sklearn.manifold import TSNE
from pandas.plotting import parallel_coordinates
from sklearn import decomposition
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.decomposition import PCA
from sklearn import svm
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn import neighbors
import matplotlib.pyplot as plt
from pandas.plotting import parallel_coordinates
from sklearn.preprocessing import StandardScaler
from sklearn import decomposition
import scipy
from math import  pi, exp,log, sqrt
from scipy.stats import norm
from sklearn.manifold import TSNE
import seaborn as sn
from sklearn.datasets import make_friedman1
from sklearn.decomposition import SparsePCA
from dask import dataframe as dd

In [17]:
OP_df = pd.read_csv('Option2017_2_clean.csv')
OP_df = OP_df.dropna()
OP_df.head(3)

,Unnamed: 0,currentDate,ExpDate,StrikePrice,Ticker,Type,Last,Implied volatility,Underlaying asset price,Expiration time
0,0,2/17/17,7/21/17,34.799999,TBNK,Call,1.06,0.13250,33.549999,0.421629
1,1,2/17/17,3/17/17,20.000000,ARR,Call,1.70,0.02022,21.709999,0.076660
2,2,2/17/17,3/17/17,22.500000,ARR,Call,0.08,0.13956,21.709999,0.076660

In [4]:
def d1(S,K,T,r,sigma):
    
    x = ( log (S/K) + ( ( r + ((sigma**2)/2) )* T  )  ) / ( sigma * ( sqrt ( T ) ) )
    return x 

def d2(S,K,T,r,sigma):
    
    x = ( log (S/K) + ( ( r - ((sigma**2)/2) )* T  )  ) / ( sigma * ( sqrt ( T ) ) )
    return x

In [5]:
def call(S,K,T,r,sigma):

    return S  * norm.cdf( d1(S,K,T,r,sigma) ) - K * (exp(- (r*T) ) ) * norm.cdf( d2(S,K,T,r,sigma) )

def put(S,K,T,r,sigma):

    return   -norm.cdf(- d1(S,K,T,r,sigma)) * S + norm.cdf(-d2(S,K,T,r,sigma)) * K * np.exp(-r * T)

In [15]:
def vol(type, last, S, K, r, T):

    p = 0.000000000001
    b = 5
    a = .0001
    max = 5
    min = .0001
    iter = 0    

    while (True):
        iter +=1 
        mid = (b + a)/2.0
        
        if type == 'c':

            price = call(S,K,T,r,mid)
            lower = call(S,K,T,r,a)
            if (lower - last ) * (price - last ) > 0:
                a = mid
            else:
                b = mid

            if abs(price - last ) < p: break

            if mid > max - 2 :
                mid = 0.31;break

        elif type == 'p':

            price = put(S,K,T,r,mid)
            upper = put(S,K,T,r,b)
            if (upper - last ) * (price - last ) > 0:
                b = mid

            else:
                a = mid        

            if abs(price - last ) < p: break 
            if iter > 100: break
                
    return mid,iter

In [7]:
m,it = (vol('c', 0.30 , 21.709999 , 22.000000 , 0.03, 0.172485 )) 
print("Implied Volatility",m)
print("Iteration",it)

Implied Volatility 0.1057098650632825
Iteration 43

In [18]:
S = np.array( OP_df["Underlaying asset price"]).astype("float")
K = np.array( OP_df["StrikePrice"]).astype("float")
r = .03
T = np.array( OP_df["Expiration time"]).astype("float")
Op = np.array( OP_df["Last"]).astype("float")
Type = np.array( OP_df["Type"]).astype("str")
OP_df.head(3)

,Unnamed: 0,currentDate,ExpDate,StrikePrice,Ticker,Type,Last,Implied volatility,Underlaying asset price,Expiration time
0,0,2/17/17,7/21/17,34.799999,TBNK,Call,1.06,0.13250,33.549999,0.421629
1,1,2/17/17,3/17/17,20.000000,ARR,Call,1.70,0.02022,21.709999,0.076660
2,2,2/17/17,3/17/17,22.500000,ARR,Call,0.08,0.13956,21.709999,0.076660

In [19]:
imp = []
iter = []
for i in range( 0, len(OP_df) ):
    if(Type[i] == "Call"):
        
        m,it = (vol('c', Op[i] , S[i] , K[i] , r , T[i] )) 
        imp.append(m)
        iter.append(it)
    else:
        m,it = (vol('p', Op[i] , S[i] , K[i] , r , T[i] )) 
        imp.append(m)
        iter.append(it)

In [20]:
OP_df['imp'] = pd.Series(imp)
OP_df['iter'] = pd.Series(iter)
OP_df.head(3)

,Unnamed: 0,currentDate,ExpDate,StrikePrice,Ticker,Type,Last,Implied volatility,Underlaying asset price,Expiration time,imp,iter
0,0,2/17/17,7/21/17,34.799999,TBNK,Call,1.06,0.13250,33.549999,0.421629,0.162619,44
1,1,2/17/17,3/17/17,20.000000,ARR,Call,1.70,0.02022,21.709999,0.076660,0.310000,2
2,2,2/17/17,3/17/17,22.500000,ARR,Call,0.08,0.13956,21.709999,0.076660,0.132739,42

In [21]:
OP_df["diff"] = OP_df['Implied volatility'] - OP_df['imp']
OP_df['mse'] = OP_df['diff']**2
mse = OP_df['mse'].sum()/len(OP_df)
iteration = OP_df['iter'].sum()/len(OP_df)

In [12]:
mse

0.03197587598654511

In [13]:
iteration

47.56330087134803

In [22]:
n = 1 / ( ( 1 + mse ) * log( 1 + iteration ) )
print("MSE :",mse)
print("Average Iteration : ",iteration)
print("Average Efficiency",n)

MSE : 0.03197587598654511
Average Iteration :  41.053818554587394
Average Efficiency 0.2591676406307764

In [23]:
list = []
list.append(mse)
list.append(iteration)
list.append(n)

In [24]:
df = pd.read_csv('result.csv')
df["bisection"] = list
df.head(3)

,bisection,Brent,Newton-Raphson,New-Newton,Muller-Bisection,New-Halley,Halley-Irrational
0,0.031976,0.029913,0.029913,0.029913,0.030416,0.025485,0.039493
1,41.053819,9.502734,3.640737,9.617389,26.130753,6.207127,4.181198
2,0.259168,0.412885,0.632597,0.410988,0.294026,0.493729,0.584794

In [25]:
df.to_csv('result.csv', index=False)