In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.decomposition import PCA
from sklearn import svm
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn import neighbors
import matplotlib.pyplot as plt
from pandas.plotting import parallel_coordinates
from sklearn.preprocessing import StandardScaler
from sklearn import decomposition
import scipy
from sklearn.manifold import TSNE
from pandas.plotting import parallel_coordinates
from sklearn import decomposition
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.decomposition import PCA
from sklearn import svm
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn import neighbors
import matplotlib.pyplot as plt
from pandas.plotting import parallel_coordinates
from sklearn.preprocessing import StandardScaler
from sklearn import decomposition
import scipy
from math import  pi, exp,log, sqrt
from scipy.stats import norm
from sklearn.manifold import TSNE
import seaborn as sn
from sklearn.datasets import make_friedman1
from sklearn.decomposition import SparsePCA
from dask import dataframe as dd

In [2]:
OP_df = pd.read_csv('dataset/Option2017_2.csv')
OP_df = OP_df.dropna()
OP_df.head(3)

,Unnamed: 0,currentDate,ExpDate,StrikePrice,Ticker,Type,Last,Implied volatility,Underlaying asset price,Expiration time
0,0,2/17/17,7/21/17,34.799999,TBNK,Call,1.06,0.13250,33.549999,0.421629
1,1,2/17/17,3/17/17,20.000000,ARR,Call,1.70,0.02022,21.709999,0.076660
2,2,2/17/17,3/17/17,22.500000,ARR,Call,0.08,0.13956,21.709999,0.076660

In [3]:
def d1(S,K,T,r,sigma):
    
    x = ( log (S/K) + ( ( r + ((sigma**2)/2) )* T  )  ) / ( sigma * ( sqrt ( T ) ) )
    return x 

def d2(S,K,T,r,sigma):
    
    x = ( log (S/K) + ( ( r - ((sigma**2)/2) )* T  )  ) / ( sigma * ( sqrt ( T ) ) )
    return x

In [4]:
def call(S,K,T,r,sigma):

    return S  * norm.cdf( d1(S,K,T,r,sigma) ) - K * (exp(- (r*T) ) ) * norm.cdf( d2(S,K,T,r,sigma) )

def put(S,K,T,r,sigma):

    return   -norm.cdf(- d1(S,K,T,r,sigma)) * S + norm.cdf(-d2(S,K,T,r,sigma)) * K * np.exp(-r * T)

In [5]:
from scipy import optimize
import scipy.stats as si
def callvol(price,S,K,r,T):
  
    def brentt(sigma):
        d11 = d1(S,K,T,r,sigma)
        d22 = d2(S,K,T,r,sigma)
        Brent = call(S,K,T,r,sigma)
        fx = Brent - price
        return fx

    x = optimize.brentq(brentt,0.0001,10,maxiter=1000,full_output=True)
    return x[0] , x[1].iterations

callvol( price=0.30, S=21.709999,K=22.000000, r=0.03,T=0.172485 )

(0.10570986506314038, 7)

In [6]:
from scipy import optimize
import scipy.stats as si
def putvol(price,S,K,r,T):
  
    def brentp(sigma):
        d11 = d1(S,K,T,r,sigma)
        d22 = d2(S,K,T,r,sigma)
        Brent = put(S,K,T,r,sigma)
        fx = Brent - price
        return fx

    x = optimize.brentq(brentp,0.0001,10,maxiter=1000,full_output=True)
    return x[0] , x[1].iterations

#callvol( price=0.30, S=21.709999,K=22.000000, r=0.03,T=0.172485 )

In [7]:
m,iter = (callvol( 0.30 , 21.709999 , 22.000000 , 0.03, 0.172485 )) 
m

0.10570986506314038

8

In [9]:
S = np.array( OP_df["Underlaying asset price"]).astype("float")
K = np.array( OP_df["StrikePrice"]).astype("float")
r = .03
T = np.array( OP_df["Expiration time"]).astype("float")
Op = np.array( OP_df["Last"]).astype("float")
Type = np.array( OP_df["Type"]).astype("str")
OP_df.head(3)
df = OP_df

In [66]:
imp = []
iter = []
for i in range( 0, len(OP_df) ):
    if(Type[i] == "Call"):
        try:
            
            m,it = (callvol( Op[i] , S[i] , K[i] , r , T[i] )) 
            imp.append(m)
            iter.append(it)
        except:
            df = df.drop(index=2)
    else:
        try:
            
            m,it = (putvol( Op[i] , S[i] , K[i] , r , T[i] )) 
            imp.append(m)
            iter.append(it)
        except:
            imp.append(.31)
            iter.append(1000)

In [67]:
OP_df['imp'] = pd.Series(imp)
OP_df['iter'] = pd.Series(iter)
OP_df.head(3)

,Unnamed: 0,currentDate,ExpDate,StrikePrice,Ticker,Type,Last,Implied volatility,Underlaying asset price,Expiration time,imp,iter,diff,mse
0,0,2/17/17,7/21/17,34.799999,TBNK,Call,1.06,0.13250,33.549999,0.421629,0.162619,8,-0.030119,0.000907
1,1,2/17/17,3/17/17,20.000000,ARR,Call,1.70,0.02022,21.709999,0.076660,0.310000,1000,-0.289780,0.083972
2,2,2/17/17,3/17/17,22.500000,ARR,Call,0.08,0.13956,21.709999,0.076660,0.132739,12,0.006821,0.000047

In [68]:
OP_df["diff"] = OP_df['Implied volatility'] - OP_df['imp']
OP_df['mse'] = OP_df['diff']**2
mse = OP_df['mse'].sum()/len(OP_df)
iteration = OP_df['iter'].sum()/len(OP_df)

In [69]:
mse

0.03272228763349949

In [70]:
iteration

81.93034910871917

In [71]:
n = 1 / ( ( 1 + mse ) * log( 1 + iteration ) )
n

0.21917480643491932

In [72]:
list = []
list.append(mse)
list.append(iteration)
list.append(n)

   bisection
0   0.032722
1  81.930349
2   0.219175

In [75]:
df = pd.read_csv('result.csv')

In [77]:
df["Brent"] = list
df.head(3)

   bisection      Brent
0   0.031976   0.032722
1  47.563301  81.930349
2   0.249562   0.219175

In [78]:
df.to_csv('result.csv', index=False)

In [ ]:
df.head